appdirs==1.4.4
APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coloredlogs==14.3
cryptography==2.8
docopt==0.6.2
fs==2.4.12
humanfriendly==9.1
idna==2.10
pycparser==2.20
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.1
python-telegram-bot==13.2
pytz==2021.1
requests==2.25.1
six==1.15.0
tenacity==6.3.1
tornado==6.1
tqdm==4.58.0
tzlocal==2.1
urllib3==1.26.3
verboselogs==1.7
youtube-dl==2021.2.10
